/* src/App.css */
.App {
    font-family: Roboto, sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.chat-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat-window {
    flex-grow: 1;
    padding: 10px;
    background-color: #ffff;
}

.message {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 50px;
}

.user {
    text-align: right;
    background-color: #f4f4f4;
}

.bot {
    text-align: left;
    background-color: #fff;
}

.chat-input {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
}

.chat-input input {
    flex-grow: 1;
    padding: 15px 20px;
    border-radius: 50px 0 0 50px;
    border: 0;
    background-color: #f4f4f4;
}

.chat-input button {
    padding: 15px 20px;
    background-color: #f4f4f4;
    border: 0;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-input button:hover {
    background-color: #494949;
    color: white;
}
