/* src/App.css */
.App {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-content {
    display: flex;
    flex-grow: 1;
    height: 100%;
    overflow: hidden;
}

.chat-section {
    padding-top: 65px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s;
    overflow: hidden;
}

.chat-section.full-width {
    margin-left: 0;
}

.sidebar {
    width: 200px;
    background-color: #f9f9f9;
    padding: 10px;
    transition: transform 0.3s;
}

.sidebar-hidden {
    transform: translateX(-100%);
}

.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
}

.sidebar-toggle button {
    color: #7d7d7d;
    padding: 15px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    margin-right: 10px;
}

.sidebar-toggle button:last-child {
    margin-right: 0;
}

.sidebar-toggle button:hover {
    background-color: #ececec;
    border-radius: 50px;
    color: #000;
}

.chat-window {
    flex-grow: 1;
    padding: 10px;
    background-color: #fff;
    overflow-y: auto;
}

.message {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 50px;
}

.message.error {
    color: red;
}

.user {
    text-align: right;
    background-color: #f4f4f4;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.bot {
    text-align: left;
    background-color: transparent;
}

.chat-input {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 0 10px;
    position: relative;
}

.chat-input textarea {
    font-family: 'Google Sans', sans-serif;
    font-size: 1rem;
    flex-grow: 1;
    padding: 20px 60px 20px 40px;
    border-radius: 30px;
    border: 0;
    background-color: #f4f4f4;
    resize: none;
    overflow-y: hidden;
    max-height: 200px;
}

.chat-input textarea:focus {
    outline: none;
}

.chat-input button {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
    right: 6px;
    height: 50px;
    width: 50px;
}

.chat-input button:enabled:hover {
    background-color: #494949;
    color: white;
}

.chat-input button:disabled {
    cursor: default;
}

.chat-input button:disabled:hover {
    background-color: #f4f4f4;
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
        transform: translateX(-100%);
    }

    .sidebar-visible {
        transform: translateX(0);
    }

    .chat-section.full-width {
        margin-left: 0;
    }
}