/* src/Sidebar.css */
.sidebar {
    width: 200px;
    background-color: #f9f9f9;
    padding: 10px;
    transition: transform 0.3s;
    z-index: 999;
}

.sidebar-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-button, .new-session {
    color: #7d7d7d;
    padding: 15px;
    border: 0;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}

.menu-button:hover, .new-session:hover {
    background-color: #ececec;
    border-radius: 50px;
}

.description {
    position: absolute;
    bottom: -22px;
    background-color: #fff;
    padding: 3px 6px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.button-wrapper:hover .description {
    opacity: 1;
    transition-delay: 0.2s;
}

.session-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.session-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.session-list li:hover {
    background-color: #ececec;
    border-radius: 50px;
}

.session-list li .session-actions {
    display: none;
    align-items: center;
}

.session-list li:hover .session-actions {
    display: flex;
}

.session-name {
    flex-grow: 1;
    text-align: left;
    margin-right: 10px;
}

.session-actions {
    display: flex;
    align-items: center;
}

.delete-session, .edit-session {
    color: #7d7d7d;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
}

.edit-session:hover,
.menu-button:hover,
.new-session:hover {
    color: #000;
}

.delete-session:hover {
    color: #ff0000;
}

.sidebar input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ddd;
}

input:focus {
    outline: none;
    border-color: #000;
}

.sidebar button {
    border: 0;
    cursor: pointer;
    background-color: transparent;
}
